<!--<x-page-center>-->

<!--  <div>-->
<!--    <h3>Trucks Login</h3>-->
<!--    <small class="text-mute">Enter your credentails to login</small>-->

<!--    <form action="" class="flex flex-col gap-2 mt-2">-->
<!--      <x-input-email [(ngModel)]="model.email" name="model.email" label="Email or Username"-->
<!--                     placeholder="someone@email.com"></x-input-email>-->
<!--      <x-input-password [(ngModel)]="model.password" name="model.password" label="Password"-->
<!--                        placeholder="********"></x-input-password>-->
<!--    </form>-->
<!--    <button type="submit" (click)="submit()">Submit</button>-->

<!--  </div>-->

<!--</x-page-center>-->

<div class="grid grid-cols lg:grid-cols-2">
  <div class="relative flex w-1/2 h-screen justify-center mx-auto">
    <div class="flex flex-col w-96 mt-40">
      <h1 class="font-bold text-slate-800 text-4xl">Welcome back! ✨</h1>
      <div class="flex flex-col gap-1 mt-6 relative">
        <x-input-email [(ngModel)]="model.email"  name="model.email" label="Email"></x-input-email>

        <x-input-password [(ngModel)]="model.password" name="model.password"label="Password"></x-input-password>

        <div class="mt-8 flex">
          <a
            class="mt-2 absolute text-lg underline decoration-1 hover:no-underline"
            href="forgotpassword"
            >Forgot Password?</a
          >
          <a (click)="submit()"
            class="absolute flex ml-72 text-lg bg-indigo-500 text-white font-bold h-12 w-24 items-center pl-4 rounded-lg hover:bg-indigo-600"
            href="javascript:void(0)"
            >Sign in</a
          >
          <div class="mt-20">
            <hr class="w-96 bg-slate-400" />
            <p class="mt-5 text-lg">
              Don't you have an account?
              <span><a href="#signup" class="text-indigo-500">Sign up</a></span>
            </p>
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 hidden lg:block bg-gray-300">
    <div class="absolute top-1/3 -left-10 relative">
      <img
        class="w-52 h-52 hidden lg:block"
        src="https://preview.cruip.com/mosaic/images/auth-decoration.png"
        alt=""
      />
    </div>

    <div class="mx-auto w-1/2 mt-10">
      <img src="../assets/svgs/truck.svg" alt="truck" />
    </div>
  </div>
</div>
