
<x-page-center>
  <x-card>

    <x-form>

      <x-form-header title="forget password">
        Provide your login details to access your account. If you don't have an account then <a routerLink="/register">Create
        Account</a> to get started.
      </x-form-header>

      <x-input-email [(ngModel)]="model.email" [errors]="errors.email" label="Email Address"
                     placeholder="someone@email.com"></x-input-email>

      <div *ngIf="serrors" class="bg-red-50 border border-red-500 p-2">
        <ol>
          <li class="text-xs text-red-500" *ngFor="let error of serrors">{{error}}</li>
        </ol>
      </div>
      <x-form-footer>
        <x-button [busy]="busy" (onClick)="submit()">Continue</x-button>
      </x-form-footer>

    </x-form>

  </x-card>


</x-page-center>
