<!--<x-page-center>-->

<!--  <div>-->
<!--    <h3>Trucks Login</h3>-->
<!--    <small class="text-mute">Enter your credentails to login</small>-->

<!--    <form action="" class="flex flex-col gap-2 mt-2">-->
<!--      <x-input-email [(ngModel)]="model.email" name="model.email" label="Email"-->
<!--                     placeholder="someone@email.com"></x-input-email>-->
<!--    </form>-->
<!--    <button type="submit" (click)="submit()">Submit</button>-->


<!--  </div>-->

<!--</x-page-center>-->

<div class="grid grid-cols lg:grid-cols-2">
  <div class="relative flex w-1/2 h-screen justify-center mx-auto">
    <div class="flex flex-col mt-56 w-96 mt-40">
      <h1 class="font-bold text-slate-800 text-4xl">Forgot Password? ✨</h1>
      <div class="flex flex-col gap-6 mt-14 relative">
        <x-input-email [(ngModel)]="model.email" name="model.email" label="Email" placeholder="someone@email.com"></x-input-email>
        <div class="flex gap-56 ">
          <a
            class=" ml-2 pt-3 text-lg underline decoration-1 hover:no-underline"
            href="#login"
          >Login?</a
          >
          <x-button>Reset</x-button>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 hidden lg:block bg-gray-300">
    <div class="absolute top-1/3 -left-10 relative">
      <img
        class="w-52 h-52 hidden lg:block"
        src="https://preview.cruip.com/mosaic/images/auth-decoration.png"
        alt=""
      />
    </div>
    <div class="mx-auto w-1/2 mt-10">
      <img src="../assets/svgs/truck.svg" alt="truck" />
    </div>
  </div>
</div>
