<x-page-center>

  <div>
    <h3>Trucks Login</h3>
    <small class="text-mute">Enter your credentails to login</small>

    <form action="" class="flex flex-col gap-2 mt-2">
      <x-input-password [(ngModel)]="model.oldPassword" name="model.password" label="Old Password"
                        placeholder="********"></x-input-password>
      <x-input-password [(ngModel)]="model.newPassword" name="model.password" label="New Password"
                        placeholder="********"></x-input-password>
      <x-input-password [(ngModel)]="model.confirmPassword" name="model.password" label="Confirm Password"
                        placeholder="********"></x-input-password>
    </form>
    <button type="submit" (click)="submit()">Submit</button>


  </div>

</x-page-center>
