<x-page-center>
  <x-card>
    <x-form>
      <x-form-header title="Reset Password">
        Want to Reset Your Password? please provide this below
      </x-form-header>

      <x-input-password [(ngModel)]="model.password" [errors]="errors.password"  label="Password"></x-input-password>
      <x-input-password [(ngModel)]="model.confirmPassword" [errors]="errors.confirmPassword"  label="Confirm Password"></x-input-password>

      <x-form-footer>
        <div></div>
        <x-button [busy]="busy" (onClick)="submit()" >Continue</x-button>
      </x-form-footer>

    </x-form>
  </x-card>
</x-page-center>
