<x-page-center>
  <x-card>
    <x-form>
      <x-form-header title="Reset Password">
        A reset OTP is successfully sent to your register Email somenone@email.com.
      </x-form-header>

      <x-input-number [(ngModel)]="model.otp" [errors]="errors.otp"  label="OTP"></x-input-number>
      <x-input-password [(ngModel)]="model.password" [errors]="errors.password"  label="Password"></x-input-password>

      <x-form-footer>
        <div></div>
        <x-button [busy]="busy" (onClick)="submit()" >Continue</x-button>
      </x-form-footer>

    </x-form>
  </x-card>
</x-page-center>
